.primary {
  border: 1px solid transparent;
  color: white;
  padding: 10px;
  background-color: var(--red);
  margin: 20px 10px 0 0;
  border-radius: var(--border);
  cursor: pointer;
  transition: all 200ms ease-in-out;
  font-size: 1.1em;
  font-family: Open Sans, sans-serif;

  &:hover {
    filter: brightness(1.2);
    transform: translateY(-2px); /* Sutil levantamiento */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 200ms ease-in-out;
  }
}

.common {
  border: 1px solid transparent;
  color: white;
  padding: 10px;
  background-color: var(--black);
  margin: 20px 10px 0 0;
  border-radius: var(--border);
  cursor: pointer;
  transition: all 200ms ease-in-out;
  font-size: 1.1em;
  font-family: Open Sans, sans-serif;

  &:hover {
    filter: brightness(1.4) contrast(0.8);
    transform: translateY(-2px); /* Sutil levantamiento */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 200ms ease-in-out;
  }
}
