.primary {
  border: 1px solid transparent;
  color: white;
  padding: 10px;
  background-color: #b40000;
  margin: 20px 10px 0 0;
}

.common {
  border: 1px solid white;
  color: white;
  padding: 10px;
  background-color: #ffda2d;
  margin: 20px 10px 0 0;
}
