.hero {
  padding: 20px;
  background-image: url("/bg-hero.png");
  h1 {
    font-size: 3em;
    width: 70%;
  }

  button {
    border: 1px solid white;
    color: white;
    padding: 10px;
    background-color: transparent;
    margin: 20px 10px 0 0;
  }
}
