.entries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.course {
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  .name {
    padding: 0 10px;

    background-color: black;
  }
}
