.container {
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding: 0 20px 40px;
  position: relative;
  img {
    width: 100%;
  }
  p {
    a {
      color: var(--yellow);
    }
  }
}

.articleContainer {
  max-width: 800px;
  margin: auto;
}

.cta {
  font-style: italic;
  font-weight: 100;
  font-size: 1em;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  border-top: 1px dashed #ccc;
}

.back {
  &:hover {
    color: #90EE90;
  }
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
